DEEPSEEK_API_KEY=sk-95fb4e5796744ea99ecc2fad20c210f6
MINIMAX_API_KEY=sk-api-G5JKCoZuqfsimKY68DamXKtcBEsRSP9klwJkykOcTlocYKP7On8aeNMih9Qxavzb9RoEez8hR6QklfXulon5v8C0rl7tz-IekIfD-0qBUJzjQa9qbYytJG8
MINIMAX_GROUP_ID=2012366358032945522
